.container {
  position: relative; /* 子要素のposition: absoluteを親要素基準にする */
  padding-top: 0; /* 必要に応じて調整 */
  width: 100%;
  height: 100vh; /* 画面全体を使用するための高さ */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 子要素がはみ出さないようにする */
}

.selectedWordContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #f0f8ff; /* 薄い青の背景 */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* 小さい画面で折り返す */
}

.selectedWordText {
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin: 0.1em 0 0 0.5em;
  flex-shrink: 0;
}

.selectedWordsList {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap; /* 小さい画面で折り返し */
}

.selectedWordHighlight {
  font-size: 1em;
  font-weight: bold;
  color: #007acc;
  background-color: #ccefff;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  white-space: nowrap; /* 折り返し防止 */
  flex-shrink: 0;
}

.list {
  position: relative; /* 子要素の配置を相対的にする */
  width: 100%;
  height: 100%; /* 親要素の高さを基準にする */
  padding: 0;
  list-style-type: none; /* リストの「・」を非表示 */
  margin: 0;
  padding-top: 50px;
  padding-bottom: 60px; /* 戻るボタンのためのスペース確保 */
  flex-wrap: wrap;
  gap: 0.5em;
}

.listItem {
  position: static; 
}

.selectedWord {
  text-align: center; /* 中央に表示 */
  margin-bottom: 20px; /* ボタンリストとの間に余白を追加 */
  font-size: 1.5em; /* フォントサイズを少し大きくする */
}

.button {
  font-size: 1.5em; /* フォントサイズを大きくする */
  padding: 0.5em 1em;
  margin: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  background: #fff;
  width: 95%; /* 幅を広げる */
  height: 100px; /* 高さを大きくする */
  box-sizing: border-box;
  white-space: nowrap; /* 改行を防ぐ */
  overflow: hidden; /* はみ出した文字を隠す */
  text-overflow: ellipsis; /* はみ出した文字に「...」を表示 */
  display: inline-block; /* inline-blockを指定することで、widthが効くようにする */
}

.backButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
}

/* .backButton {
  margin-top: 1em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background-color: #007acc;
  color: white;
  cursor: pointer;
} */
